<!DOCTYPE html>
<html lang="en">

    {{> head }}

<body>
    
    {{> navbar }}

    <div class="container-fluid p-5">
        <div class="row">
            <div class="col text-right">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed eius, reprehenderit fugiat laborum mollitia nobis, dolor minus quisquam culpa ipsa sequi accusamus atque voluptatibus ducimus odio assumenda dolores eos possimus.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed eius, reprehenderit fugiat laborum mollitia nobis, dolor minus quisquam culpa ipsa sequi accusamus atque voluptatibus ducimus odio assumenda dolores eos possimus.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed eius, reprehenderit fugiat laborum mollitia nobis, dolor minus quisquam culpa ipsa sequi accusamus atque voluptatibus ducimus odio assumenda dolores eos possimus.</p>
            </div>
            <div class="col">
                <image src="assets/img/webar-marker.png" class="w-50 img-thumbnail"/>
            </div>
        </div>        
    </div>

    {{> footer }}

    {{> scripts }}
</body>

</html>